
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;;
}
a{
    text-decoration: none;
}
.navBar{
    position: fixed;
    background-color: #02294f;
    z-index: 2;
    box-shadow: 0px 0px 19px 0px #241fff42;
}
.navBar img{
    max-height: 80px;
    width: auto;

}
.navBar a{
    text-decoration: none;
    line-height: 80px;
    font-size: 16px;
    color: #cbdceb;
    margin-right: 22px;
}
.headerBanner img{
    width: 100%;
    height: auto;
}
.dress-list{
    margin: 0 auto;
    max-width: 1360px;
}
.dress-item img{
    width: 100%;

    aspect-ratio: 1/1;
}
.dress-item{
    border-radius: 12px;
    overflow: hidden;
}
.btn-blue{
    background-color: #133E87;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    border: unset;
}
.btn-blue:hover{
    background-color: #0d2c6d;
}
.dress-item {
    position: relative;

}
.clothing-content{
    position: absolute;
    background-color: #0a57a2ab;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 20px;
    bottom: -90px;
    left: 0;
}
.dress-item:hover .clothing-content{
    bottom: 0;
    transition: all 1s;
}
p{
    margin-bottom: 3px;
    line-height: 1;
}
.clothing-description{
    font-weight: 400;
    font-size: 16px;
}
.clothing-info{
    font-weight: 400;
    font-size: 16px;
}
.clothing-price{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    color: white;
    background-color: #0a57a2;
    font-size: 18px;
    font-weight: 400;
}
h2{
    font-weight: 600;
    padding: 0 15px;
    margin: 50px 0 20px 0;
    color: #0a57a2;
}
.clothing-content h3{
    font-size: 26px;
}
footer{
    background-color: #0a57a2;
    color: white;
    margin-top: 120px;
    padding: 60px 0;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}
.login-main{
    margin: 0 auto;
background-color: #f9f9f9;
    padding: 20px;
}
.login-form{
    background-color: white;
    text-align: left;
    font-size: 16px;
    border-radius: 12px;
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 0 3px 0 #00000054;
    padding: 20px;

}
.login-form label{
    width: 100%;
    font-weight: 300;
}
.login-form input{
    width: 100%;
    border: unset;
    border-radius: 6px;
    padding: 4px 6px;
    font-size: 16px;
    margin-bottom: 8px;
}
.login-form input:focus-visible{
    outline: unset;
}
.loginDiv
{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 80px;
    position: relative;
}
.loginDiv:hover .hidden-menu{
    display: block;

}
.hidden-menu{
    display: none;
    position: absolute;
    line-height: 1;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 6px 6px;
}
.hidden-menu a{
    display: block;
    line-height: 1.5;
    color: black;
    font-weight: 400;

}
.hidden-menu a:hover{
    color: #0a57a2 !important;
}
.buy-clothing-page{
    max-width: 1280px;
    margin: 30px auto;
    box-shadow: 0 0 3px 0 #a6a6a6;
    border-radius: 12px;
    text-align: center;
}
.order-item{
    margin-bottom: 26px;
}
.order-info{
    background-color: #0a57a2;
    color: white;
    padding: 5px 0;
    border-radius: 3px 3px 0 0;
    text-align: left;
}
.order-item-child{
    margin: 0 0 0 12px;
    background-color: #00000021;
    right: 0;
    position: relative;
    border-radius: 0 0 3px 3px;
    padding: 18px 12px;
}
.order-list{
    margin: 0;
    padding: 12px;
}
.order-item img{
    width: 100%;
    aspect-ratio: 1.5 / 1;
    border-radius: 6px;
}
.order-item-info{
    text-align: left;
}
.order-item-info p{
    margin-bottom: 12px;
    font-size: 16px;
}
.productInfo img{
    width: 100%;
    border-radius: 12px;
}
.productBuy{
    text-align: left;
    padding: 0 0 0 42px;
}
.productBuy h3{
    color: #02294f;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 26px;
}
.productBuy p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}
.productBuy input{
    display: block;
    border-radius: 6px;
    border: 1px #b1d2f2 solid;
}
.clothing-management{
    max-width: 1280px;
    margin: 36px auto;
    box-shadow: 0 0 3px 0 #00000096;
    overflow: hidden;
    border-radius: 12px;
}
.clothing-management h1{
    text-align: center;
    margin: 28px 0 36px 0;
    color: #133e87;
}
.clothing-management .search-bar form{
    margin: 0;
    padding: 20px;
}
.clothing-management .clothing-list{
    padding: 20px;
}
.add-clothing{
    max-width: 1280px;
    text-align: center;
    margin: 36px auto;
    box-shadow: 0 0 3px 0 #0000004a;
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
}
.add-clothing legend{
   color: #02294f;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
form label{
    margin-top: 12px;
}
.loginDiv a{
    margin: 0 6px;
}
.loginDiv a:hover{
    color: white;
    transition: all 0.5s;
    text-decoration: underline;
}
.register{
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 3px #0000004d;
    padding: 10px;
    border-radius: 8px;
}
.register h2{
    margin: 0 0 20px 0;
}
.add{
    padding: 0 30px;
}
.admin-page{
    max-width: 1280px;
    margin: 36px auto;
    box-shadow: 0 0 3px 0 #00000069;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
}
.admin-page h1{
    color: #02294f;
    font-size: 32px;
    border-bottom: 1px #02294f6e solid;
    padding-bottom: 12px;
    margin-bottom: 26px;
}
.admin-action a{
    display: block;
    width: fit-content;
    min-width: 200px;
    text-align: left;
    /* border: unset; */
    /* background-color: #08080829; */
    margin-bottom: 12px;
}
.admin-info span{
    width: 120px;
    display: inline-block;
}